<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a class="item">Our Team</a>
                    <a class="item">Client List</a>
                    <a class="item">Religious Ceremonies</a>
                    <a class="item">Renovation Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a class="item">How To Cope With Loss</a>
                    <a class="item">Sabotage &amp; Backstabbing</a>
                    <a class="item">Trophy Engraving</a>
                    <a class="item">Dev Card FAQ</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Helpful Advice</h4>
                <p>If you're feeling terrible about your last game, and aren't sure if you want to keep humiliating yourself in front of your friends and family, just remember - there's likely plenty of time to sulk and drink alcohol until you completely f*ck up the next game.</p>
            </div>
        </div>
    </div>
</div>