<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a class="item">Our Team</a>
                    <a class="item">Client List</a>
                    <a class="item">Religious Ceremonies</a>
                    <a class="item">Renovation Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a class="item">How To Cope With Loss</a>
                    <a class="item">Sabotage &amp; Backstabbing</a>
                    <a class="item">Trophy Engraving</a>
                    <a class="item">Dev Card FAQ</a>
                </div>
            </div>
            <div class="ten wide column">
                <h4 class="ui inverted header">House Rules</h4>
                <p>We play "King of the Hill" in all games. The player who is first to reach or exceed the target victory point total for the edition being played must keep the highest point total while the rest of the players complete their turns around the board. If another player can beat/exceed the current leader before it returns to them, that player wins the game <em>(Note: earned rewards like Longest Road, Largest Army, and any Metropolis cannot be stolen in this round unless it gives you the win)</em>.</p>
                <p>We play "Department of Transportation" in all games. Any player may remove one of their own open roads for the cost of 3 brick resources and place it anywhere on the same trading route <em>(A road touched by another player's road on one end is still considered open)</em>.</p>
                <p>We play "Robin Hood Robber" in all games. Robbers can't steal from players with fewer than two victory points.</p>
                <p>We play "Foreign Island Discovery" in all Seafarer expansion games, unless the map dictates otherwise. When you build your first settlement on a foreign island, you earn two chits and place them underneath that settlement. That settlement is worth 3 victory points (4 if it is upgraded to a city). Additional settlements you build on that island do not earn chits.</p>
            </div>
        </div>
    </div>
</div>