export SECRET_KEY="80_f-6$qdyjd4!ubytu+yfvc47pj7v*ayx70cf*y_%^z8^*c6h"

export DATABASE_NAME="katan_trackr"
export DATABASE_USER="admin"
export DATABASE_PASSWORD="pass"

export MAPBOX_KEY="pk.eyJ1Ijoicnltb2lvIiwiYSI6ImNrNHRiY2t6ZjAxaHEzZXAzN3FramZwem8ifQ.MgRmIsO3qx9G-pcOUjb2XQ"