{% extends "site/base.html" %}
{% load humanize %}
{% load timing %}

{% block title %}
{{ block.super }} | Scoresheets
{% endblock %}

{% block mobile_title %}
{{ block.super }} | Scoresheets
{% endblock %}

{% block content %}
{{ block.super }}

<div class="ui xtrapadded container">
    {% if scoresheets %}
    <table class="ui selectable celled padded sortable unstackable table">
        <thead>
            <tr>
                <th class="single line">Game</th>
                <th class="single line">Player</th>
                <th>Color</th>
                <th class="right aligned">Total Points</th>
                <th class="right aligned mobile hidden">Settlements</th>
                <th class="right aligned mobile hidden">Citites</th>
                <th class="right aligned mobile hidden">VP Cards</th>
                <th class="right aligned mobile hidden">Chits</th>
                <th class="center aligned mobile hidden">Other</th>
            </tr>
        </thead>
        <tbody>
            {% for scoresheet in scoresheets %}
            <tr {% if scoresheet.player == scoresheet.game.winning_scoresheet.player %}class="positive"{% endif %}>
                <td>
                    <h5 class="ui {% if scoresheet.player == scoresheet.game.winning_scoresheet.player %}green{% endif %} header">
                        {% if scoresheet.player == scoresheet.game.winning_scoresheet.player %} <i class="trophy icon"></i>{% endif %}
                        <div class="content">
                            ({{ scoresheet.game.get_formatted_number }}) {{ scoresheet.game.get_display_name }}
                        </div>
                        <div class="sub header">
                            <a href="{% url 'game-scoresheets' scoresheet.game.pk %}">Played for {{ scoresheet.game.get_duration|naturaldelta_duration }} ({{ scoresheet.game.date_finish|naturaltime }})</a>
                        </div>
                        <div class="sub header">{{ scoresheet.game.edition }}</div>
                    </h5>
                </td>
                <td>
                    <h5 class="ui header">
                        {{ scoresheet.player }}
                        <div class="sub header">
                            {% if scoresheet.start_position %}
                            Built {{ scoresheet.start_position|ordinal }}
                            {% endif %}
                        </div>
                    </h5>
                </td>
                <td>
                    <span class="ui {{ scoresheet.get_color_display|lower }} label">{{ scoresheet.get_color_display }}</span>
                </td>
                <td class="right aligned">
                    {{ scoresheet.total_points }}
                </td>
                <td class="right aligned mobile hidden">
                    {{ scoresheet.num_settlements }}
                </td>
                <td class="right aligned mobile hidden">
                    {{ scoresheet.num_cities }}
                </td>
                <td class="right aligned mobile hidden">
                    {{ scoresheet.num_vpcards }}
                </td>
                <td class="right aligned mobile hidden">
                    {{ scoresheet.num_chits }}
                </td>
                <td class="center aligned mobile hidden">
                    {% if scoresheet.longest_road %}<span data-inverted="" data-tooltip="Longest Road"><i class="road icon"></i></span>{% endif %}
                    {% if scoresheet.largest_army %}<span data-inverted="" data-tooltip="Largest Army"><i class="users icon"></i></span>{% endif %}
                    {% if scoresheet.metro_science %}<span data-inverted="" data-tooltip="Science Metropolis"><span class="ui green empty circular label"></span></span>{% endif %}
                    {% if scoresheet.metro_politics %}<span data-inverted="" data-tooltip="Politics Metropolis"><span class="ui blue empty circular label"></span></span>{% endif %}
                    {% if scoresheet.metro_trade %}<span data-inverted="" data-tooltip="Trade Metropolis"><span class="ui yellow empty circular label"></span></span>{% endif %}
                    {% if scoresheet.merchant %}<span data-inverted="" data-tooltip="Merchant"><span class="ui purple empty circular label"></span></span>{% endif %}
                    {% if scoresheet.harbormaster %}<span data-inverted="" data-tooltip="Harbormaster"><span class="ui grey empty circular label"></span></span>{% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="9">
                    <div class="ui extra pagination menu">
                        <a class="icon item disabled">Showing {{ scoresheets.start_index }} to {{ scoresheets.end_index }} of {{ scoresheets.paginator.count }} game{{ scoresheets.paginator.count|pluralize }}</a>
                    </div>
                    <div class="ui right floated pagination menu">
                        {% if scoresheets.has_previous %}
                        <a href="?page={{ scoresheets.previous_page_number }}" class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        {% else %}
                        <a class="icon item disabled">
                            <i class="left chevron icon"></i>
                        </a>
                        {% endif %}

                        {% for page in scoresheets.paginator.page_range %}
                        <a href="?page={{ page }}" class="item {% if page_num == page %}active{% endif %}">{{ page }}</a>
                        {% endfor %}

                        {% if scoresheets.has_next %}
                        <a href="?page={{ scoresheets.next_page_number }}" class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                        {% else %}
                        <a class="icon item disabled">
                            <i class="right chevron icon"></i>
                        </a>
                        {% endif %}
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
    {% endif %}
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(function() {
    $(document)
        .ready(function() {
            $('table.sortable').tablesort();
        })
    ;
});
</script>
{% endblock %}