{% extends "site/base.html" %}
{% load humanize %}
{% load timing %}

{% block title %}
{{ block.super }} | Comparisons
{% endblock %}

{% block mobile_title %}
{{ block.super }} | Comparisons
{% endblock %}

{% block content %}
{{ block.super }}

<div class="ui xtrapadded stackable relaxed grid container">

    <div class="sixteen wide column">
        <h4 class="ui horizontal divider header">
            <i class="quidditch icon"></i>
            Year over Year Comparisons
        </h4>

    <div class="ui xtrapadded stackable relaxed grid container">
        <div class="row">
            <div class="sixteen wide column">
                <table class="ui large celled table">
                    <thead>
                        <tr>
                            <th>Statistic</th>
                            <th>This Year</th>
                            <th>Last Year</th>
                            <th>Last Year (to Date)</th>
                            <th>+/-</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for name, wins in wins_last_year_dict.items %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ wins.1 }}</td>
                            <td>{{ wins.0 }}</td>
                            <td>{{ wins.2 }}</td>
                            <td class="{% if wins.3 < 0 %}negative{% elif wins.3 > 0 %}positive{% endif %}">{{ wins.3|floatformat:"0" }}%</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total Games Played</th>
                            <th>{{ games_played_this_year }}</th>
                            <th>{{ games_played_last_year }}</th>
                            <th>{{ games_played_last_year_to_date }}</th>
                            <th class="{% if games_played_to_date_diff_per < 0 %}negative{% elif games_played_to_date_diff_per > 0 %}positive{% endif %}">{{ games_played_to_date_diff_per|floatformat:"0" }}%</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    </div>
</div>
{% endblock %}