{% extends "site/base.html" %}
{% load static %}
{% load timing %}

{% block title %}
{{ block.super }} | Editions
{% endblock %}

{% block mobile_title %}
{{ block.super }} | Editions
{% endblock %}

{% block content %}
{{ block.super }}

<div class="ui xtrapadded container">
    <div class="ui relaxed divided items">
        
        {% if edition_list %}
        {% for edition in edition_list %}
        <div class="item">
            <div class="image">
                {% if edition.image_tag %}
                    {% with 'scores/images/box_icon_'|add:edition.image_tag|add:'.png' as image_static %}
                    <img src="{% static image_static %}">
                    {% endwith %}
                {% else %}
                <img src="{% static 'scores/images/box_icon_.png' %}">
                {% endif %}
            </div>
            <div class="middle aligned content">
                <div class="header">{{ edition.name }}</div>
                <div class="meta">
                    <span class="price">{{ edition.get_game_type_display }}</span>
                    <span class="stay">{{ edition.points }} VPs</span>
                </div>
                <div class="description">
                    <p>{{ edition.description }}</p>
                </div>
                <div class="extra">
                    <div class="ui label"><i class="users icon"></i> {{ edition.get_max_players_display }}</div>
                    <div class="ui label"><i class="clock outline icon"></i> {{ edition.duration }}</div>
                </div>
                <div class="extra">
                    <div class="meta">
                        <span>You have played this edition <strong>{{ edition.games_played }} time{{ edition.games_played|pluralize }}</strong> for a total of <strong>{{ edition.duration_played.sum|naturaldelta_duration }}</strong>.</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="item">
            <div class="content">
                <div class="header">No editions exist</div>
            </div>
            <div class="description">
                <p>Try creating some in the admin UI!</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}